.header {
  @include flex;
  width: 100vw;
  padding: 2rem 5rem;
  background-image: $gradient-1;
  @include respond(phone) {
    flex-direction: column;
    padding: 1rem 5rem 3rem 5rem;
  }

  &__img {
    width: 15rem;
    height: 15rem;
    svg {
      fill: $color-yellow;
      height: 100%;
      width: 100%;
    }
  }
  &__text {
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    color: $color-light;
  }

  &__tagline {
    margin-top: 1rem;
    font-size: 2.4rem;
    @include respond(phone) {
      text-align: center;
    }
  }
}
