.mainLayout_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
}

.section {
  &__breedlist {
    position: relative;
    width: 100vw;
    margin: 3rem 0;
    @include flex__column;
  }
}
