.breed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  margin: 3rem 1rem;
  width: 60rem;
  max-width: 90vw;
  @include respond(phone) {
    width: 50rem;
  }

  &__subheading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 2rem;

    & svg {
      margin-left: 1rem;
      width: 8rem;
      fill: $color-6;
    }
  }

  &__text {
    margin-bottom: 1.5rem;

    &__link {
      font-weight: 500;
      &:hover {
        color: $color-4;
      }
    }
  }

  &__text,
  &__stats__text,
  &__stats__text__link {
    font-size: 2rem;
    @include respond(phone) {
      font-size: $default-font-size;
    }
  }

  &__stats {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    &__text {
      text-align: right;

      margin-right: 1rem;
      width: 50%;
    }

    &__paws {
      width: 50%;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
