.breedlist {
  // display: flex;
  // align-items: flex-start;
  // justify-content: center;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;
  list-style: none;
  margin: 2rem 4rem;
  width: 130rem;
  max-width: 90vw;

  @include respond(tab-port) {
    grid-template-columns: 1fr 1fr;
  }
  @include respond(small-phone) {
    justify-items: center;
    grid-template-columns: 1fr;
  }

  &__origins {
    @include flex__column;
    margin-top: 1rem;
    width: 85rem;
    max-width: 90vw;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;

    &.active {
      max-height: 30rem;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    &__list {
      @include flex;
      margin-top: 1rem;
      flex-wrap: wrap;
      @include respond(phone) {
        justify-content: flex-start;
      }
    }
  }

  &__filter {
    @include flex__column;
    position: relative;
    width: 42rem;
    max-width: 90vw;
    margin: 3rem 1rem 1rem 1rem;

    &__search {
      @include flex;
      flex-direction: row-reverse;
      width: 100%;

      & label {
        font-size: 2rem;
        cursor: text;
        transition: all 0.3s ease-in-out;
        transform: translateY(-4rem);
        display: block;
        position: absolute;
        top: 0;
        left: 4.5rem;
        padding: 1.2rem;
      }

      & input {
        width: 100%;
        padding: 1rem;
        font-size: 2rem;
        border: 2px solid $color-4;
        transition: all 0.3s;
        box-shadow: 0 3px 5px 0px rgba($color-black, 0.5);

        &:focus {
          border: 2px solid $color-2;
          box-shadow: 0 3px 2px 0px rgba($color-black, 0.5);
        }

        &:placeholder-shown {
          & + label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(0rem);
          }
        }
      }
    }

    &__origin {
      @include flex;
      margin-top: 3rem;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;

      &__item {
        @include flex;
        flex-direction: row-reverse;
        cursor: pointer;

        &:hover {
          & .button {
            color: $color-white;
            background-color: $color-7;
          }

          & .icon {
            fill: $color-7;
          }
        }
      }
    }
  }

  &__item {
    max-width: 80vw;

    @include respond(small-phone) {
      width: 45rem;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 1rem;
    }

    &__heading {
      @extend .heading;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      margin-bottom: 0.5rem;

      & .icon__cat {
        fill: $color-3;
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
      }

      &__h3 {
        color: $color-4;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    &__origin {
      margin-bottom: 0.5rem;
    }

    &__temperament {
      margin-bottom: 1rem;
    }
  }
}
