.button {
  padding: 1rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  border: 1px solid transparent;
  transition: all 0.3s;
  min-width: 15rem;
  box-shadow: 0 3px 5px 0px rgba($color-black, 0.5);
  @include respond(phone) {
    min-width: initial;
  }

  &:hover {
    color: $color-white;
    background-color: $color-red;
    transform: scale(1.05);
    box-shadow: 0 3px 8px 0px rgba($color-black, 0.5);
  }

  &:active {
    transform: scale(1.02);
    box-shadow: 0 2px 2px 0px rgba($color-black, 0.5);
  }

  &__filter__main {
    @extend .button;
    background-color: $color-orange;
    border-radius: 3px;
    font-size: 1.8rem;
    color: $color-white !important;
  }

  &__filter {
    @extend .button;
    margin: 0.5rem;
    background: none;
    border: 1px solid $color-purple;
    color: $color-purple;
  }

  &__filter.active,
  &__filter__main.active {
    color: $color-white;
    background-color: $color-purple;

    & + .icon {
      fill: $color-purple;
    }
  }

  &__back {
    @include flex;
    @extend .button;
    font-size: 2rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    min-width: initial;
    background-color: $color-yellow;
    color: $color-purple !important;
    z-index: 20;

    &:hover {
      color: $color-yellow !important;

      & svg {
        fill: $color-yellow;
      }
    }

    & svg {
      transition: all 0.3s;
      width: 3rem;
      margin-right: 1rem;
      fill: $color-purple;
    }
  }
}
