.icon {
  width: 4rem;
  height: 4rem;
  transition: all 0.3s;
  @include respond(phone) {
    width: 3rem;
    height: 3rem;
  }

  &__search,
  &__earth,
  &__remove,
  &__paw {
    @extend .icon;
    fill: $color-orange;
  }

  &__search {
    fill: $color-orange;
    margin: 0.5rem 1.3rem 0 0;
  }

  &__earth {
    margin-right: 1rem;
  }

  &__paw {
    height: 2.5rem;
    width: 2.5rem;
    &:not(:last-of-type) {
      margin-right: 0.7rem;
    }
  }

  &__remove {
    margin-right: 1rem;
    width: 3.5em;
    height: 3.5rem;
    @include respond(phone) {
      width: 3rem;
      height: 3rem;
    }
  }
}

.svgGradient {
  visibility: hidden;
}

.icon-bg {
  &__red {
    fill: url(#icon-gradient-red) green;
  }
}

#icon-gradient-red {
  --color-1: #9a031e;
  --color-2: #5f0f40;
}
