// THEME COLORS

$color-1: #de9151;
$color-2: #f3e37c;
$color-3: #f3d34a;
$color-4: #e55934;
$color-5: #fa7921;

$color-black: #000000;
$color-dark: #0b0b16;

$color-light: #e7e7e7;
$color-gray: #9a9a9a;

$color-white: #ffffff;

// FONT
$default-font-size: 1.6rem;
$gradient-gray: linear-gradient(to right, $color-light, $color-gray);
$gradient-1: linear-gradient(135deg, $color-4, $color-5);
$gradient-2: linear-gradient(135deg, $color-2, $color-3);
