// THEME COLORS

$color-2: #eee18f;
$color-3: #495bff;
$color-4: #db3c10;
$color-6: #5f0f40;
$color-7: #9a031e;

$color-black: #000000;
$color-dark: #0b0b16;

$color-light: #e7e7e7;
$color-gray: #9a9a9a;

$color-white: #ffffff;

// FONT
$default-font-size: 1.6rem;
$gradient-gray: linear-gradient(to right, $color-light, $color-gray);
$gradient-1: linear-gradient(155deg, $color-6, $color-7);
$gradient-2: linear-gradient(135deg, $color-2, $color-3);
