// THEME COLORS

$color-red: red;
$color-red-2: darkred;
$color-orange: #ce5b3f;
$color-gunmetal: #2d3142;
$color-blue: #2a37b1;
$color-cyan: #01baef;

$color-black: #000000;
$color-dark: #0b0b16;

$color-light: #e7e7e7;
$color-gray: #9a9a9a;

$color-white: #ffffff;

// FONT
$default-font-size: 1.6rem;
$gradient-gray: linear-gradient(to right, $color-light, $color-gray);
