.fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
}

.fadeInPaw {
  opacity: 0;
  animation: fadeInPaw 0.5s ease-out 0s 1 normal forwards;
}

.fadeInNormal {
  opacity: 0;
  animation: fadeInNormal 1s ease-in-out 0s 1 normal forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInNormal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInPaw {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
