*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  font-weight: 700;
  font-size: $default-font-size;
}

html,
body {
  overflow-x: hidden;
  background-color: $color-white;
  scroll-behavior: smooth;
  position: relative;
  // font-family: 'Josefin Sans', 'Arial', sans-serif;
  font-family: 'Maven Pro', 'Arial', sans-serif;
}

html {
  // This defines what 1rem is
  // 1 rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%;

  @include respond(small-phone) {
    // width < 450?
    font-size: 35%;
  }

  @include respond(phone) {
    // width < 600?
    font-size: 35%;
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%;
  }
}

body {
  width: 100vw;
  box-sizing: border-box;
  position: relative;
}

::selection {
  background-color: $color-orange;
  color: $color-light;
}
