h1,
h2,
h3,
h4,
.paragraph {
  max-width: 90vw;
}

p,
ul,
li {
  font-size: $default-font-size;
}

a,
a:link,
a:visited {
  color: $color-7;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  font-size: $default-font-size;
  font-weight: 500;
}

.heading {
  text-align: center;
  display: inline-block;
  color: $color-4;

  &__h1 {
    width: 100%;

    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Josefin Sans', 'Arial', sans-serif;
  }
}
.paragraph {
  margin: 2rem 3rem;
  font-size: $default-font-size;
  text-align: justify;
  width: 80rem;
  max-width: 90%;
}
